% rebase('osnova.html')

<h1>Iskanje po vrsti obiska</h1>
<form method="POST">
    <label for="izberi_vrsto">Izberi:</label>
    <select name="izberi_vrsto" id="izberi_vrsto">
        <option value="">--Izberi vrsto lokacije--</option>
        <option value="Gradovi">Gradovi</option>
        <option value="Muzeji">Muzeji</option>
        <option value="Znamenitosti">Znamenitosti</option>
        <option value="Jezera">Jezera</option>
        <option value="Atraktivni kotički">Atraktivni kotički</option>
        <option value="Kopališča in terme">Kopališča in terme</option>
        <option value="Kmetije">Kmetije</option>
        <option value="Gorovja in hribovja">Gorovja in hribovja</option>
        <option value="Smučišča">Smučišča</option>
        <option value="Jame">Jame</option>
        <option value="Živalski parki, vrtovi">Živalski parki, vrtovi</option>
        <option value="Naravne znamenitosti">Naravne znamenitosti</option>
    </select>
    <button>Išči</button>
</form>