% rebase('osnova.html')

<h1>Iskanje po namenu obiska</h1>
<form method="POST">
    <ul>
        <label for="izberi_namen">Izberi:</label>
        <select name="izberi_namen" id="izberi_namen">
            <option value="">--Izberi namen lokacije--</option>
            <option value="Ogled znamenitosti">Ogled znamenitosti</option>
            <option value="Izobraževanje">Izobraževanje</option>
            <option value="Sprostitev">Sprostitev</option>
            <option value="Zabava">Zabava</option>
            <option value="Oddih v naravi">Oddih v naravi</option>
            <option value="Pohodništvo">Pohodništvo</option>
            <option value="Rekreacija">Rekreacija</option>
            <option value="Adrenalinska doživetja">Adrenalinska doživetja</option>
        </select>
        <button class="button button1">Išči</button>
    </ul>
</form>