% rebase('osnova.html')

<h1>Iskanje po regiji</h1>
<form method="POST">
    <ul>
        <label for="izberi_regijo">Izberi:</label>
        <select name="izberi_regijo" id="izberi_regijo">
            <option value="">--Izberi regijo--</option>
            <option value="Pomurska">Pomurska</option>
            <option value="Podravska">Podravska</option>
            <option value="Savinjska">Savinjska</option>
            <option value="Zasavska">Zasavska</option>
            <option value="Posavska">Posavska</option>
            <option value="Koroška">Koroška</option>
            <option value="Jugovzhodna-Slovenija">Jugovzhodna-Slovenija</option>
            <option value="Osrednjeslovenska">Osrednjeslovenska</option>
            <option value="Gorenjska">Gorenjska</option>
            <option value="Goriška">Goriška</option>
            <option value="Obalno-kraška">Obalno-kraška</option>
            <option value="Primorsko-notranjska">Primorsko-notranjska</option>
        </select>
        <button class="button button1">Išči</button>
    </ul>
</form>