% rebase('osnova.html')

<h1>{{pod[0]}}</h1>
<table>
    <tr>
        <th>Regija: </th>
        <td>{{pod[1]}}</td>
    </tr>
    <tr>
        <img src={{pod[8]}} alt={{pod[0]}}>
    </tr>
    <tr>
        <th>Opis: </th>
        <td>{{pod[2]}}</td>
    </tr>
    <tr>
        <th>url: </th>
        <td>{{pod[3]}}</td>
    </tr>
    <tr>
        <th>Pogostitev: </th>
        <td>{{pod[4]}}</td>
    </tr>
    <tr>
        <th>Prenočišče: </th>
        <td>{{pod[5]}}</td>
    </tr>
    <tr>
        <th>Vstopnina: </th>
        <td>{{pod[6]}}</td>
    </tr>
    <tr>
        <th>Animacije ali delavnice za otroke: </th>
        <td>{{pod[7]}}</td>
    </tr>
</table>
