% rebase('osnova.html')

<ul>
    <p><a href = "/iskanje_lokacije"><button>Iskanje lokacije</button></a></p>
    <p><a href = "/iskanje_regije"><button>Iskanje lokacije po regiji</button></a></p>
    <p><a href = "/iskanje_namen"><button>Iskanje lokacije po namenu obiska</button></a></p>
    <p><a href = "/iskanje_vrsta"><button>Iskanje lokacije po vrsti</button></a></p>
    <p><a href = "/iskanje_cas"><button>Iskanje lokacije glede na čas obiska</button></a></p>
    <p><a href = "/iskanje_pog">Lokacije s pogostitvijo in prenočiščem</a></p>
    <p><a href = "/iskanje_otr">Lokacije primerne za otroke</a></p>
    <p><a href = "/iskanje_vstop">Lokacije brez vstopnine</a></p>

</ul>