% rebase('osnova.html')

<ul>
    <p><a href = "/iskanje_lokacije"><button class="button button1">Iskanje lokacije</button></a></p>
    <p><a href = "/iskanje_regije"><button class="button button1">Iskanje lokacije po regiji</button></a></p>
    <p><a href = "/iskanje_namen"><button class="button button1">Iskanje lokacije po namenu obiska</button></a></p>
    <p><a href = "/iskanje_vrsta"><button class="button button1">Iskanje lokacije po vrsti</button></a></p>
    <p><a href = "/iskanje_cas"><button class="button button1">Iskanje lokacije glede na čas obiska</button></a></p>
    <p><a href = "/izpisi_lokacije_pog_pren">Lokacije s pogostitvijo in prenočiščem</a></p>
    <p><a href = "/izpisi_lokacije_otroci">Lokacije z animacijami ali delavnicami za otroke</a></p>
    <p><a href = "/izpisi_lokacije_vstopnina">Lokacije brez vstopnine</a></p>

</ul>